<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxl.job.admin.dao.OperateLogDao">

    <resultMap id="BaseResultMap" type="com.xxl.job.admin.core.model.OperateLog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="job_id" property="jobId" jdbcType="BIGINT"/>



        <result column="record" property="record" jdbcType="LONGVARCHAR"/>
        <result column="old_value" property="oldValue" jdbcType="LONGVARCHAR"/>
        <result column="new_value" property="newValue" jdbcType="LONGVARCHAR"/>
        <result column="operation_type" property="operationType" jdbcType="VARCHAR"/>
        <result column="operate_um" property="operateUm" jdbcType="VARCHAR"/>
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>


    </resultMap>

    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM operate_log WHERE id = #{id}
    </select>

    <select id="selectByJobId" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM operate_log WHERE job_id = #{jobId} ORDER BY operate_time DESC
    </select>

    <select id="selectByOperateTimeBetween" resultMap="BaseResultMap">
        SELECT * FROM operate_log
        WHERE operate_time BETWEEN #{start} AND #{end}
        ORDER BY operate_time DESC
    </select>



    <select id="selectPage" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM operate_log
        <where>
            <if test="jobGroup != 0">
                AND app_id = #{jobGroup}
            </if>
            <if test="jobId != 0">
                AND job_id = #{jobId}
            </if>
            <if test="triggerTimeStart != null">
                AND operate_time &gt;= #{triggerTimeStart}
            </if>
            <if test="triggerTimeEnd != null">
                AND operate_time &lt;= #{triggerTimeEnd}
            </if>
        </where>
        ORDER BY operate_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM operate_log
        <where>
            <if test="jobGroup != 0">
                AND app_id = #{jobGroup}
            </if>
            <if test="jobId != 0">
                AND job_id = #{jobId}
            </if>
            <if test="triggerTimeStart != null">
                AND operate_time &gt;= #{triggerTimeStart}
            </if>
            <if test="triggerTimeEnd != null">
                AND operate_time &lt;= #{triggerTimeEnd}
            </if>
        </where>
        ORDER BY operate_time DESC

    </select>


    <select id="selectPageByJobId" resultMap="BaseResultMap">
        SELECT * FROM operate_log
        WHERE job_id = #{jobId}
        ORDER BY operate_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <select id="pageListCount" resultType="int" parameterType="map">
        SELECT COUNT(*) FROM operate_log
        <where>
            <if test="jobGroup != 0">
                AND app_id = #{jobGroup}
            </if>
            <if test="jobId != 0">
                AND job_id = #{jobId}
            </if>
            <if test="triggerTimeStart != null">
                AND operate_time &gt;= #{triggerTimeStart}
            </if>
            <if test="triggerTimeEnd != null">
                AND operate_time &lt;= #{triggerTimeEnd}
            </if>
        </where>
    </select>

    <select id="countByJobId" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM operate_log WHERE job_id = #{jobId}
    </select>

    <insert id="save" parameterType="com.xxl.job.admin.core.model.OperateLog" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO operate_log (`user_id`, `app_id`, `job_id`, `operate_um`, `operation_type`, `record`,`operate_time`)
        values ( #{userId}, #{appId}, #{jobId}, #{operateUm}, #{operationType}, #{record}, #{operateTime} );
    </insert>
</mapper>
